.new-create-page {
  border-radius: 20px;
  background-color: white;
  margin-top: 50px;
  width: 530px;
  padding: 20px;
}
.new-create-title {
  text-align: center;
}
.skills-name-new-page {
  text-align: center;
}
