.profile-display {
  padding: 10px;
}
.banner-full-page {
  height: 90vh;
  background-size: cover;

}
.product-price {
  font-size: 25px;

}

.product-attribute > p {
  margin-bottom: 0px;
}

.product-skill-list {
  margin-left: 20px;
  margin-top: 20px;
}