<h1>When do you want a piece of this ?</h1>

<%= simple_form_for([@product, @booking]) do |f| %>
  <%= f.input :startdate, as: :date, html5: true %>
  <%= f.input :enddate, as: :date, html5: true %>
  <%= f.submit class: "btn btn-primary"%>
<% end %>
