.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.cards a:hover,
.cards-cat a:hover {
  text-decoration: none;
}

.cards-cat {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  font-size: 16px;
  grid-gap: 16px;
  text-decoration: none;
}

.cards-cat-sub {
  position: relative;
  background-size: cover;
  background-position: center;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 10px;
  transition: 1s;

  &:hover {
    transform: scale(1.1);
  }
}



.card-product{
  // height: 300px;
  width: 300px;
  align-items: center;
}

.card-product img {
  // height: 100%;
  width: 300px;
  object-fit: cover;
  padding-top: 10px;
}


.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 10px;
  text-decoration: none;
}

.card-top {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 60px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding-top: 10px;
  text-decoration: none;
}

.name {
  font-size: 20px;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #1EDD88;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #1BCB7F;
  color: white;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.bm-card-product {
  background: white;
  display: flex;
  margin: 20px 0;
  border-radius: 10px;
  position: relative;
  min-height: 300px;
  img {
    max-height: 100%;
    object-fit: cover;
    width: 45%;
  }
  box-shadow: 0 12px 20px #5e5555;

  .btn-absolute {
    position: absolute;
    bottom: 16px;
    right: 16px;
  }
}
  .btn-primary {
    position: relative;
  }


.bm-card-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
}

.card-skills-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
}


// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards, .cards-cat-sub {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards, .cards-cat-sub {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards, .cards-cat-sub {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards, .cards-cat-sub {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards, .cards-cat-sub {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
