#map {
  margin: 15px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 2px 8px #5e55551a;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}
