<div class="container">
 <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1551218808-94e220e084d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80)">
  Cooking
</div>
  <div class="card-product">
    <h2>Cooking</h2>
    <% @products.each do |product| %>
      <div class="card-product">
        <img src='https://www.indiewire.com/wp-content/uploads/2019/07/shutterstock_10312373e.jpg?w=780' />
        <div class="card-product">
          <%= link_to "", product_path(product), class: 'card-link' %>
        </div>
      </div>

      <% end %>
      </div>
  </div>

</div>




